name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: PeAcE@123
          MYSQL_DATABASE: algo_trader_db
          MYSQL_USER: goutam_bhayal
          MYSQL_PASSWORD: PeAcE@123
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      working-directory: ./algoTrader
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install flake8
        
    - name: Lint with flake8
      working-directory: ./algoTrader
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
    - name: Run Tests
      working-directory: ./algoTrader
      env:
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
      run: |
        python manage.py test

    - name: Build Docker Image
      working-directory: ./algoTrader
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
